#mobile_menu {
  width: 375px;
  height: 812px;
  background-color: #000000;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-self: flex-end;
  position: absolute;
  top: 0px;
  z-index: 100;
}
#hide:hover {
  cursor: pointer;
}
.logo_mobile_box {
  width: 95%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo_mobile {
  width: 80%;
  height: 28px;
}
.hide {
  width: 19px;
  height: 19px;
}
.mobile_menu_layout {
  display: flex;
  justify-content: space-around;
  width: 375px;
  height: 585px;
  margin: 0px;
  padding: 0px;
}
.mobile_name_box {
  width: 20px;
  height: 270px;
  margin-top: 18px;
}
.mobile_name {
  width: 262px;
  height: 17px;
  position: relative;
  top: 123px;
  right: 124px;
  transform: rotate(90deg);
}

.mobile_name p {
  font-family: "GT Eesti Pro Display";
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.02em;
  margin: 0px;
  color: #ffffff;
}
.mobile_menu_list {
  width: 65%;
  height: 90%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
}
.mobile_item_menu {
  font-family: "GT Eesti Pro Display";
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.mobile_item_menu:hover {
  color: #f45b47;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.additional_item {
  font-family: "GT Eesti Pro Display";
  font-size: 19px;
  letter-spacing: 0.01em;
  color: #ffffff;
  display: none;
}
.additional_item:hover {
  color: #f45b47;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.language_mobile {
  width: 55px;
  height: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: flex-end;
  margin-right: 27px;
}
.language_mobile p {
  font-family: "GT Eesti Pro Text";
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
.language_mobile p:hover {
  color: #f45b47;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
